<form (submit)="submit()" class="todo-create">
  <div class="from-group">
    <input type="text" class="form-control" placeholder="todo text" name="todo-content" [(ngModel)]="todo.content" />
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">提醒日期</span>
    </div>
    <input type="date" class="form-control" placeholder="alert date" name="todo-alert-date" [(ngModel)]="todo.alertDate" />
  </div>
  <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">提醒时间</span>
        </div>
    <input type="time" class="form-control" placeholder="alert time" name="todo-alert-time" [(ngModel)]="todo.alertTime" />
  </div>

  <button type="submit" class="btn btn-primary btn-sm">创建</button>
</form>
